html, body, h1, input, label, textarea, a, p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  font: inherit;
  text-decoration: inherit;
  text-alignment: inherit;
  background: transparent;
}

.hidden {
  display: none;
}

.title {
  font-size: 36px;
  color: red;

}

.content {
  display: block;
  float: left;
  width: 400px;
  height: 800px;
  padding: 10px;
  background: #eee
}

.sidebar {
  display: block;
  float: left;
  width: 200px;
  height: 800px;
  background: #aaa;
  border-right: 1px solid #aaa;
  padding: 10px;
}

.form {
  font-size: 12px;
  background: white;
  border: 1px solid black;
}
p {
  word-wrap: break-word;
}
